button {
    border: none;
    width: 100%;
    margin: 2% auto;
    padding: 5px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    background-color: rgb(223, 158, 175);
    box-shadow: 0 4px 4px 0 gray, 0 4px 4px 0 rgba(45, 39, 39, 0.19);
    border-radius: 5px;
}

button:hover {
    background-color: gray;
}

html,
body {
    width: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    overflow-wrap: break-word;
}

img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

button[id="settings-button"] {
    position: fixed;
    top: 4px;
    right: 0px;
    z-index: 600;
    width: 32px;
    height: 32px;
    background-color: white;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: gray;
}

button[id="go-back"] {
    position: fixed;
    top: 4px;
    left: 0px;
    z-index: 600;
    width: 32px;
    height: 32px;
    background-color: white;
    cursor: pointer;
}

img[src="../icons/settings.png"] {
    width: 25px;
    height: 25px;
}

img[src="../icons/frog.png"] {
    width: 35px;
    height: 35px;
    background-color: white;
    position: fixed;
    top: 40px;
    left: 0px;
}

img[src="../icons/backarrow.png"] {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 9px;
    left: 1px;
}

#points h3 {
    display: inline;
}
