button {
    border: none;
    width: 100%;
    margin: 2% auto;
    padding: 5px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    background-color: #E5F2F2;
}

html, body {
    width: 200px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

button[id="nonSensitive"], button[id="notSecure"] {
    background-color: red;
}

button[id="sensitive"], button[id="secure"] {
    background-color: green;
}

img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }